body {
	background: black;
	font-family: "Shantell Sans", cursive;
	font-size: s;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 300px;
	margin: 0px;
}

.postcard-body {
	display: flex;
}

.parrafo1 {
	margin-top: 0px;
}

.body-left,
.body-right {
	padding: 5px;
}

.boton {
	border: none;
	border-bottom: grey;
	margin-top: 5px;
}
